.bg-dark {
  background-color: #383838;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.custom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom-buttons :is(button, div) {
  color: white;
  border-color: white;
  border-width: 2px;
}

.shopping-cart {
  position: fixed;
  right: 10px;
  top: 0;
}
